@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary-500: var(--color-primary-500);
  --color-primary-400: var(--color-primary-400);
  --color-secondary-500: var(--color-secondary-500);
  --color-secondary-800: var(--color-secondary-800);
  --color-white: var(--color-white);
  --color-black: var(--color-black);
}

:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-synthesis: none;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary-400: #fdc601;
  --color-primary-500: #d18701;
  --color-secondary-500: rgba(255, 255, 255, 0.062);
  --color-secondary-800: rgba(32, 32, 32, 0.727);
  --color-white: rgba(227, 227, 227, 0.979);
  --color-black: black;
}
